In [57]:
import os
import numpy as np
import pandas as pd

df=pd.read_csv('fairness_dataset.csv')
data=df[df['Region']=='A']
print(data)

label_l=[]
N=data.shape[0]
mean_s=(data['FICO Score']+data['Savings Rate (%)']+data['Credit History (months)'])/3
mean=mean_s.to_numpy()
for i in range(N):
    if mean[i] >= 198.09:
        label_l.append(1)
    else:
        label_l.append(0)
y_p=np.array(label_l)
y_t=data['Label'].to_numpy()
total_error=0
FP=0
FN=0
PP=0
NN=0
for i in range(N):
    if y_p[i] == y_t[i]:
        if y_p[i]==1:
            PP+=1
        else:
            NN+=1
    else:
        total_error+=1
        if y_p[i]==1 and y_t[i]==0:
            FP+=1
        elif y_p[i]==0 and y_t[i]==1:
            FN+=1
FP=FP
FN=FN
PP=PP
NN=NN
error_rate=total_error/N
print(error_rate)
print(FP,FN,PP,NN)

  Region  FICO Score  Savings Rate (%)  Credit History (months)  Label
0      A    544.0625              28.0                       21      1
1      A    489.0625              33.9                       40      0
2      A    433.1250              62.3                      100      0
3      A    429.0625              56.7                      203      1
4      A    417.8125              56.5                        5      0
5      A    506.5625              32.7                       75      1
6      A    400.6250              60.7                      216      0
7      A    836.8750              10.7                       86      1
8      A    471.8750              36.2                       92      1
9      A    402.8125              62.0                      199      0
0.4
3 1 4 2

In [18]:
data = {'Name': ['John', 'Anna', 'Peter', 'Linda'],
        'Age': [28, 34, 29, 32],
        'money':[2,3,4,5],
        'City': ['New York', 'Paris', 'Berlin', 'London']}
df = pd.DataFrame(data)
df.head()

    Name  Age  money      City
0   John   28      2  New York
1   Anna   34      3     Paris
2  Peter   29      4    Berlin
3  Linda   32      5    London